/* header */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    font-family: 'Ubuntu';
    text-align: center;
    background: #CCDEF4;
    color: #474949;
}

.header-content {
    padding: 2%;
}

.header-content p {
    margin: 0 !important;
    padding: 0 !important;
}

.header-content h1 {
    margin: 2% auto;
    padding: 0 !important;
    font-size: 40px;
}


/* warning */

.warning {
    background: #fce8ea;
    margin: 0 !important;
    padding: 10px;
    opacity: 0.5;
}


/* warning end */


/* header ends */


/* main */

main {
    font-family: 'Ubuntu';
    text-align: center;
}


/* top-content */

.top-content h2 {
    color: #474949;
    margin-top: 5%;
    font-size: 30px;
}


/* top-content ends */


/* mid-content */

.mid-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #eee;
    background: #001021;
    padding: 20px;
}

.mid-content-info {
    width: 100%;
    max-width: 700px;
    line-height: 35px;
    padding: 10px;
    margin-left: 4%;
}

.mid-content-info p {
    font-size: 20px;
}

section.mid {
    margin: 10% auto;
}

.mid-header p {
    font-size: 25px;
}


/* mid-content ends */


/* projects */

table {
    text-align: center;
}

table th {
    background: #eee;
    padding: 15px;
    text-transform: uppercase;
}

table td {
    padding: 10px;
    /* border-right: 1px solid #000; */
    background: #dddcf7;
}

.projects-content {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects h2 {
    text-transform: uppercase;
}


/* projects ends */


/* main ends */


/* footer */

.footer-container {
    margin-top: 5%;
    background: #CCDEF4;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top: 1px solid #000;
    color: #474949;
}

.middle-col {
    margin: auto 20%;
}


/* footer ends */

@media only screen and (max-width: 600px) {
    .mid-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}